.numberbox { border-radius: var(--radius); padding-inline: var(--padding); padding-block: calc(var(--padding) * 1.25); }
.numberbox__thumbnail { max-width: calc(var(--gap) * 4.16); }
.numberbox__data { max-width: calc(100% - (var(--gap) * 5.41)); }
.numberbox__data h3, .numberbox__data p { line-height: 1; }
.about__sign { max-width: calc(var(--gap) * 20); }
#contact p { max-width: calc(var(--width) / 2); }
@media (min-width: 850px) { 
    .about__col { max-width: calc((100% - (var(--gap) * 2.5)) / 2); }
    .about__content { padding-block: calc(var(--padding) * 1.5); }
}
@media (max-width: 849.89px) { 
    #about { padding-bottom: calc(var(--padding) * 3); }
    .about__thumbnail { max-width: calc(var(--gap) * 38); }
    .about__content { align-items: center; text-align: center; }
}