#home { padding-block: calc(var(--padding) * 4.5) var(--padding); height: 95vh; min-height: calc(var(--gap) * 37.5); }
.home__col { max-width: calc((var(--width) - (var(--padding) * 2)) / 2); }
.home_carousel { display: flex!important; }
.titlebox__text { max-width: calc(var(--width) / 1.8)!important; }
.skillboxes { max-width: calc(var(--width) / 2.5); }
.skillbox__percent { height: calc(var(--padding) / 2.5); }
.numberbox { display: flex!important; border-radius: var(--radius); padding-inline: var(--padding); padding-block: calc(var(--padding) * 1.25); }
.numberbox__thumbnail { max-width: calc(var(--gap) * 4.16); }
.numberbox__data { max-width: calc(100% - (var(--gap) * 5.41)); }
.numberbox__data h3, .numberbox__data p { line-height: 1; }
.workbox__caption { bottom: -100%; -webkit-transition: bottom var(--transitionTime); transition: bottom var(--transitionTime); }
.workbox:hover .workbox__caption { bottom: 0; -webkit-transition: bottom var(--transitionTime); transition: bottom var(--transitionTime); }
.worbox__link { border: var(--border) var(--color__white); }
.work__btn { padding-block: calc(var(--gap) * 2.8); font-size: clamp(calc(var(--fontSize) * 1.125), 4vw, calc(var(--fontSize) * 1.25)); padding-inline: var(--padding); max-width: 100%!important; line-height: 1!important; }
.videobox { max-width: calc(var(--width) / 1.8); height: calc(var(--width) / 2.8); }
.videobox__thumbnail,
.active .videobox__thumbnail { -webkit-transition: bottom var(--transitionTime); transition: bottom var(--transitionTime); }
.active .videobox__thumbnail { bottom: -100%; }
.videobox__btn { width: calc(var(--gap) * 6); height: calc(var(--gap) * 6); }
.videobox__btn svg { max-width: calc(var(--gap) * 3.5); }
.active .videobox__thumbnail { bottom: -100%; -webkit-transition: bottom var(--transitionTime); transition: bottom var(--transitionTime); }
.servicebox { border-radius: var(--radius); padding: var(--padding); }
.servicebox__thumbnail { max-width: calc(var(--gap) * 4.16); }
.testimonialbox__text { max-width: calc(var(--width) / 1.8); }
.clientbox__thumbnail { max-width: calc(var(--gap) * 10.83); }
.contact__container { max-width: calc(var(--width) / 1.8); }

/* CONTACT PLUGIN FIX */
form br { display: none; }
.wpcf7-not-valid-tip { display: flex; align-items: center; gap: calc(var(--gap) / 3); margin-top: calc(var(--gap) / 1.5); color: var(--color__red); font-weight: 500; font-size: clamp(calc(var(--fontSize) * 1), 4vw, calc(var(--fontSize) * 1.19)); }
.wpcf7-not-valid-tip::before { content: '*'; }
.wpcf7 .wpcf7-response-output { display: flex; justify-content: center; align-items: center; margin: 0!important; padding-block: calc(var(--padding))!important; padding-inline: var(--padding)!important; border: none!important; font-size: clamp(calc(var(--fontSize) * 1), 4vw, calc(var(--fontSize) * 1.19)); color: var(--color__white); font-weight: 600; background-color: var(--color__primary_shade-03); }

@media (min-width: 900px) { .contact__col { max-width: calc( ((var(--width) / 1.8) - (var(--gap) * 1.5)) / 2); } }
@media (min-width: 1000px) { #skills { min-height: calc(var(--gap) * 45); background-position: top right; background-size: 50% 100%; } }
@media (max-width: 999.89px) { #skills { background-image: none!important; } .header { background-color: var(--color__grey_tint-08);} }

@media (max-width: 767.89px) and (min-width: 551px) { .videobox { height: calc(var(--width) / 3.5); } }
@media (max-width: 550.89px) { .videobox { height: calc(var(--width) / 4.5); } }

@media (min-width: 1120px) { .workbox { max-width: calc(100% / 4); } }
@media (max-width: 1119.89px) and (min-width: 800px) { .workbox { max-width: calc(100% / 3); } .workbox:nth-of-type(n+7) { display: none!important; } }
@media (max-width: 799.89px) { .workbox { max-width: calc(100% / 2); } .workbox:nth-of-type(n+5) { display: none!important; } }
@media (min-width: 501px) { 
    .worbox__link { width: calc(var(--gap) * 5); height: calc(var(--gap) * 5); }
    .worbox__link svg { max-width: calc(var(--gap) * 2.5); }
}
@media (max-width: 500.89px) {
    .worbox__link { width: calc(var(--gap) * 4); height: calc(var(--gap) * 4); }
    .worbox__link svg { max-width: calc(var(--gap) * 2); }
}
@media(hover:hover) {
    .worbox__link,
    .worbox__link:hover,
    .videobox__btn,
    .videobox__btn:hover { -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .worbox__link svg,
    .worbox__link:hover svg { -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .work__btn,
    .work__btn:hover { -webkit-transition: color var(--transitionTime), background-color var(--transitionTime); transition: color var(--transitionTime), background-color var(--transitionTime); }

    .worbox__link:hover { background-color: var(--color__white); }
    .work__btn:hover { color: var(--color__white); background-color: var(--color__primary); }
    .worbox__link:hover svg { fill: var(--color__primary); }
    .videobox__btn:hover { background-color: var(--color__black); }
}