html { scroll-behavior: smooth; }
body, select, textarea, input { font-family: 'Montserrat', sans-serif; }
body { font-size: var(--fontSize); }
a, a:visited { color: var(--color__black); }
::-webkit-scrollbar { width: calc(var(--gap) / 1.25); }
::-webkit-scrollbar-track { background: var(--color__primary_shade-09); }
::-webkit-scrollbar-thumb { background: var(--color__primary_shade-03); }
::-webkit-scrollbar-thumb:hover { background: var(--color__primary_shade-05); }

.d_flex { display: flex!important; }
.d_block { display: block; }
.d_none { display: none; }
.d_grid { display: grid; }
.flow_wrap { flex-flow: row wrap }
.flex_row { flex-direction: row; }
.flex_row-rev { flex-direction: row-reverse; }
.flex_column { flex-direction: column; }
.flex_column-rev { flex-direction: column-reverse; }
.justify_content-start { justify-content: flex-start; }
.justify_content-center { justify-content: center; }
.justify_content-end { justify-content: flex-end; }
.justify_content-between { justify-content: space-between; }
.justify_content-around { justify-content: space-around; }
.align_items-start { align-items: flex-start; }
.align_items-center { align-items: center; }
.align_items-end { align-items: flex-end; }
.max_100 { max-width: 100%; }
.w_100 { width: 100%; }
.w_fit { width: fit-content; }
.w_auto { width: auto; }
.h_100 { height: 100%; }
.h_auto { height: auto; }
.mx_auto { margin-inline: auto; }
.overflow_hidden { overflow: hidden; }
.object_cover { object-fit: cover; }
.object_scale { object-fit: scale-down; }
.radius_100 { border-radius: 100%; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.position_fixed { position: fixed; }
.position_sticky { position: sticky; }
.inset_0 { inset: 0; }
.top_0 { top: 0; }
.left_0 { left: 0; }
.right_0 { right: 0; }
.bottom_0 { bottom: 0; }
.zindex_1 { z-index: 1; }
.zindex_2 { z-index: 2; }
.zindex_3 { z-index: 3; }
.zindex_4 { z-index: 4; }
.zindex_5 { z-index: 5; }
.zindex_6 { z-index: 6; }
.zindex_7 { z-index: 7; }
.zindex_8 { z-index: 8; }
.zindex_9 { z-index: 9; }
.zindex_10 { z-index: 10; }
.border_none { border: none; }
.bg_none { background: none; }
.bg_trans { background-color: transparent; }
.bg_img { background-repeat: no-repeat; background-size: cover; }
.bg_center { background-position: center center; }
.m_0 { margin: 0; }
.p_0 { padding: 0; }
.opacity_0 { opacity: 0; }
.opacity_1 { opacity: 1; }
.py_xxl { padding-block: calc(var(--padding) * 2.5); }
.py_xl { padding-block: calc(var(--padding) * 2); }
.py_lg { padding-block: calc(var(--padding) * 1.75); }
.py_md { padding-block: calc(var(--padding) * 1.5); }
.py_sm { padding-block: calc(var(--padding) * 1.25); }
.py_xs { padding-block: var(--padding); }
.py_xxs { padding-block: calc(var(--padding) / 2); }
.gap_0 { gap: 0; }
.gap_xxl { gap: calc(var(--gap) * 2.5); }
.gap_xl { gap: calc(var(--gap) * 2); }
.gap_lg { gap: calc(var(--gap) * 1.75); }
.gap_md { gap: calc(var(--gap) * 1.5); }
.gap_sm { gap: calc(var(--gap) * 1.25); }
.gap_xs { gap: var(--gap); }
.gap_xxs { gap: calc(var(--gap) / 2); }
.friendly_anchortext { font-size: 0; color: transparent; letter-spacing: 0; line-height: 1; width: 0; height: 0; }
.main { min-height: calc(90vh - (var(--gap) * 6)); }
.section { padding-block: calc(var(--padding) * 5); }
.row { max-width: var(--width); padding-inline: var(--padding); }

[data-txt-line="xl"] { line-height: 1.7; }
[data-txt-line="lg"] { line-height: 1.6; }
[data-txt-line="md"] { line-height: 1.5; }
[data-txt-line="sm"] { line-height: 1.4; }
[data-txt-line="xs"] { line-height: 1.3; }

[data-txt-weight="400"] { font-weight: 400; }
[data-txt-weight="500"] { font-weight: 500; }
[data-txt-weight="600"] { font-weight: 600; }
[data-txt-weight="700"] { font-weight: 700; }
[data-txt-weight="800"] { font-weight: 800; }

[data-txt-transform="capitalize"] { text-transform: capitalize; }
[data-txt-transform="uppercase"] { text-transform: uppercase; }
[data-txt-transform="lowercase"] { text-transform: lowercase; }

[data-txt-decoration="none"] { text-decoration: none; }
[data-txt-decoration="underline"] { text-decoration: lowercase; }

[data-txt-style="normal"] { font-style: normal; }
[data-txt-style="italic"] { font-style: italic; }

[data-txt-align="right"] { text-align: right; }
[data-txt-align="center"] { text-align: center; }
[data-txt-align="left"] { text-align: left; }
[data-txt-talign="justify"] { text-align: justify; }

/*?.- COLORES FONDOS -.?*/
[data-bg-color="primary"] { background-color: var(--color__primary); }
[data-bg-color="white"] { background-color: var(--color__white); }
[data-bg-color="black"] { background-color: var(--color__black); }
[data-bg-color="grey"] { background-color: var(--color__grey); }
[data-bg-color="red"] { background-color: var(--color__red); }

[data-bg-color="grey-shade-01"] { background-color: var(--color__grey_shade-01); }
[data-bg-color="grey-shade-02"] { background-color: var(--color__grey_shade-02); }
[data-bg-color="grey-shade-03"] { background-color: var(--color__grey_shade-03); }
[data-bg-color="grey-shade-04"] { background-color: var(--color__grey_shade-04); }
[data-bg-color="grey-shade-05"] { background-color: var(--color__grey_shade-05); }
[data-bg-color="grey-shade-06"] { background-color: var(--color__grey_shade-06); }
[data-bg-color="grey-shade-07"] { background-color: var(--color__grey_shade-07); }
[data-bg-color="grey-shade-08"] { background-color: var(--color__grey_shade-08); }
[data-bg-color="grey-shade-09"] { background-color: var(--color__grey_shade-09); }

[data-bg-color="primary-shade-01"] { background-color: var(--color__primary_shade-01); }
[data-bg-color="primary-shade-02"] { background-color: var(--color__primary_shade-02); }
[data-bg-color="primary-shade-03"] { background-color: var(--color__primary_shade-03); }
[data-bg-color="primary-shade-04"] { background-color: var(--color__primary_shade-04); }
[data-bg-color="primary-shade-05"] { background-color: var(--color__primary_shade-05); }
[data-bg-color="primary-shade-06"] { background-color: var(--color__primary_shade-06); }
[data-bg-color="primary-shade-07"] { background-color: var(--color__primary_shade-07); }
[data-bg-color="primary-shade-08"] { background-color: var(--color__primary_shade-08); }
[data-bg-color="primary-shade-09"] { background-color: var(--color__primary_shade-09); }

[data-bg-color="grey-tint-01"] { background-color: var(--color__grey_tint-01); }
[data-bg-color="grey-tint-02"] { background-color: var(--color__grey_tint-02); }
[data-bg-color="grey-tint-03"] { background-color: var(--color__grey_tint-03); }
[data-bg-color="grey-tint-04"] { background-color: var(--color__grey_tint-04); }
[data-bg-color="grey-tint-05"] { background-color: var(--color__grey_tint-05); }
[data-bg-color="grey-tint-06"] { background-color: var(--color__grey_tint-06); }
[data-bg-color="grey-tint-07"] { background-color: var(--color__grey_tint-07); }
[data-bg-color="grey-tint-08"] { background-color: var(--color__grey_tint-08); }
[data-bg-color="grey-tint-09"] { background-color: var(--color__grey_tint-09); }

[data-bg-trans="black-60"] { background-color: var(--color__trans_black-60); }
[data-bg-trans="black-80"] { background-color: var(--color__trans_black-80); }
[data-bg-trans="primary-80"] { background-color: var(--color__trans_primary-80); }

/*?.- COLORES TEXTOS -.?*/
[data-txt-color="primary"], [data-txt-color="primary"]:visited { color: var(--color__primary); }
[data-txt-color="white"], [data-txt-color="white"]:visited { color: var(--color__white); }
[data-txt-color="black"], [data-txt-color="black"]:visited { color: var(--color__black); }
[data-txt-color="grey"], [data-txt-color="grey"]:visited { color: var(--color__grey); }
[data-txt-color="red"], [data-txt-color="red"]:visited { color: var(--color__red); }

[data-txt-color="grey-shade-01"], [data-txt-color="grey-shade-01"]:visited { color: var(--color__grey_shade-01); }
[data-txt-color="grey-shade-02"], [data-txt-color="grey-shade-02"]:visited { color: var(--color__grey_shade-02); }
[data-txt-color="grey-shade-03"], [data-txt-color="grey-shade-03"]:visited { color: var(--color__grey_shade-03); }
[data-txt-color="grey-shade-04"], [data-txt-color="grey-shade-04"]:visited { color: var(--color__grey_shade-04); }
[data-txt-color="grey-shade-05"], [data-txt-color="grey-shade-05"]:visited { color: var(--color__grey_shade-05); }
[data-txt-color="grey-shade-06"], [data-txt-color="grey-shade-06"]:visited { color: var(--color__grey_shade-06); }
[data-txt-color="grey-shade-07"], [data-txt-color="grey-shade-07"]:visited { color: var(--color__grey_shade-07); }
[data-txt-color="grey-shade-08"], [data-txt-color="grey-shade-08"]:visited { color: var(--color__grey_shade-08); }
[data-txt-color="grey-shade-09"], [data-txt-color="grey-shade-09"]:visited { color: var(--color__grey_shade-09); }

[data-txt-color="grey-tint-01"], [data-txt-color="grey-tint-01"]:visited { color: var(--color__grey_tint-01); }
[data-txt-color="grey-tint-02"], [data-txt-color="grey-tint-02"]:visited { color: var(--color__grey_tint-02); }
[data-txt-color="grey-tint-03"], [data-txt-color="grey-tint-03"]:visited { color: var(--color__grey_tint-03); }
[data-txt-color="grey-tint-04"], [data-txt-color="grey-tint-04"]:visited { color: var(--color__grey_tint-04); }
[data-txt-color="grey-tint-05"], [data-txt-color="grey-tint-05"]:visited { color: var(--color__grey_tint-05); }
[data-txt-color="grey-tint-06"], [data-txt-color="grey-tint-06"]:visited { color: var(--color__grey_tint-06); }
[data-txt-color="grey-tint-07"], [data-txt-color="grey-tint-07"]:visited { color: var(--color__grey_tint-07); }
[data-txt-color="grey-tint-08"], [data-txt-color="grey-tint-08"]:visited { color: var(--color__grey_tint-08); }
[data-txt-color="grey-tint-09"], [data-txt-color="grey-tint-09"]:visited { color: var(--color__grey_tint-09); }

/*?.- FILLS -.?*/
.fill_primary { fill: var(--color__primary); }
.fill_white { fill: var(--color__white); }
.fill_black { fill: var(--color__black); }
.fill_grey { fill: var(--color__grey); }

/*?.- TITULOS & TEXTOS -.?*/
.h1 { font-size: clamp(calc(var(--fontSize) * 4), 4vw, calc(var(--fontSize) * 5.5)); }
.h2 { font-size: clamp(calc(var(--fontSize) * 3.9), 4vw, calc(var(--fontSize) * 5.25)); }
.h3 { font-size: clamp(calc(var(--fontSize) * 3.8), 4vw, calc(var(--fontSize) * 5)); }
.h4 { font-size: clamp(calc(var(--fontSize) * 3.7), 4vw, calc(var(--fontSize) * 4.75)); }
.h5 { font-size: clamp(calc(var(--fontSize) * 3.6), 4vw, calc(var(--fontSize) * 4.5)); }
.h6 { font-size: clamp(calc(var(--fontSize) * 3.5), 4vw, calc(var(--fontSize) * 4.25)); }

.title_xl { font-size: clamp(calc(var(--fontSize) * 3.25), 4vw, calc(var(--fontSize) * 4)); }
.title_lg { font-size: clamp(calc(var(--fontSize) * 3), 4vw, calc(var(--fontSize) * 3.75)); }
.title_md { font-size: clamp(calc(var(--fontSize) * 2.75), 4vw, calc(var(--fontSize) * 3.5)); }
.title_sm { font-size: clamp(calc(var(--fontSize) * 2.5), 4vw, calc(var(--fontSize) * 3.25)); }
.title_xs { font-size: clamp(calc(var(--fontSize) * 2.25), 4vw, calc(var(--fontSize) * 3)); }
.title_xxs { font-size: clamp(calc(var(--fontSize) * 2), 4vw, calc(var(--fontSize) * 2.75)); }

.text_xxl { font-size: clamp(calc(var(--fontSize) * 1.55), 4vw, calc(var(--fontSize) * 1.75)); }
.text_xl { font-size: clamp(calc(var(--fontSize) * 1.45), 4vw, calc(var(--fontSize) * 1.65)); }
.text_lg { font-size: clamp(calc(var(--fontSize) * 1.3), 4vw, calc(var(--fontSize) * 1.55)); }
.text_md { font-size: clamp(calc(var(--fontSize) * 1.25), 4vw, calc(var(--fontSize) * 1.45)); }
.text_sm { font-size: clamp(calc(var(--fontSize) * 1.18), 4vw, calc(var(--fontSize) * 1.35)); }
.text_xs { font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25)); }
.text_xxs { font-size: clamp(calc(var(--fontSize) * 1), 4vw, calc(var(--fontSize) * 1.19)); }

/*?.- BOTONES -.?*/
.btn { padding-block: calc(var(--padding) * 1.25); padding-inline: calc(var(--padding) * 2); font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; text-decoration: none;}

.btn_primary, .btn_primary:visited { color: var(--color__white); background-color: var(--color__primary); }
.btn_black, .btn_black:visited { color: var(--color__white); background-color: var(--color__black); }
.btn_grey, .btn_grey:visited { color: var(--color__white); background-color: var(--color__grey); }
.btn_white, .btn_white:visited { color: var(--color__black); background-color: var(--color__white); }

.btn_xl { font-size: clamp(calc(var(--fontSize) * 1.45), 4vw, calc(var(--fontSize) * 1.55)); }
.btn_lg { font-size: clamp(calc(var(--fontSize) * 1.35), 4vw, calc(var(--fontSize) * 1.45)); }
.btn_md { font-size: clamp(calc(var(--fontSize) * 1.25), 4vw, calc(var(--fontSize) * 1.35)); }
.btn_sm { font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25)); }
.btn_xs { font-size: clamp(calc(var(--fontSize) * 1.05), 4vw, calc(var(--fontSize) * 1.15)); }
.btn_xxs { font-size: var(--fontSize); }

@media(hover:hover) {
    .btn_primary:hover,
    .btn_grey:hover,
    .btn_white:hover,
    .btn_black:hover { background-color: var(--color__grey_shade-04); }
}

.btn_xl svg { max-width: calc(var(--gap) * 2); }
.btn_lg svg { max-width: calc(var(--gap) * 1.85); }
.btn_md svg { max-width: calc(var(--gap) * 1.65); }
.btn_sm svg { max-width: calc(var(--gap) * 1.45); }
.btn_xs svg { max-width: calc(var(--gap) * 1.25); }

/*?.- INPUTS -.?*/
.input { padding-block: calc(var(--padding) / 1.15); padding-inline: calc(var(--padding) * 1.25); font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25)); color: var(--color__black); background-color: var(--color__white); transition: color var(--transitionTime); resize: none; }
.input::placeholder { color: var(--color__grey_shade-02); text-transform: capitalize; transition: color var(--transitionTime); }
textarea.input { height: calc(var(--gap) * 12); }
.input select { padding-inline: calc(var(--padding) * 1.25); font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25)); color: var(--color__black); }
.input svg { top: 50; right: calc(var(--padding) * 1.25); width: calc(var(--gap) * 1.35); height: calc(var(--gap) * 1.35);  }

/*?.- HEADER -.?*/
.header { height: calc(var(--gap) * 6); -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.header__logo { max-width: calc(var(--gap) * 2.8); }
.header.fixed { background-color: var(--color__black); -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.fixed .header__logo svg { fill: var(--color__white); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
@media(min-width: 1000px) {
    .nav,
    .header__toggler { display: none!important; }
    .header__nav a { font-size: calc(var(--fontSize) * 1.15); color: var(--color__black); font-weight: 700; text-transform: uppercase; text-decoration: none; -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .header__nav a:visited { color: var(--color__black); }
    .fixed .header__nav a,
    .fixed .header__nav a:visited { color: var(--color__white); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
}
@media(max-width: 999.89px) {
    .header__toggler { border: var(--border) var(--color__black); border-radius: var(--radius); width: calc(var(--gap) * 3.5); height: calc(var(--gap) * 3.5); background-color: transparent; -webkit-transition: border-color var(--transitionTime); transition: border-color var(--transitionTime); }
    .header__toggler svg { max-width: calc(var(--gap) * 2.5); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime);}
    .fixed .header__toggler { border-color: var(--color__white); -webkit-transition: border-color var(--transitionTime); transition: border-color var(--transitionTime); }
    .fixed .header__toggler svg { fill: var(--color__white); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .header__nav { display: none!important; }
    .header__toggler.active { border-color: var(--color__primary)!important; background-color: var(--color__primary)!important; }
    .header__toggler.active svg { fill: var(--color__white)!important; }
    .nav { top: -100%; border-top: var(--border) var(--color__grey); background-color: var(--color__grey_tint-09); opacity: 0; -webkit-transition: top var(--transitionTime), opacity var(--transitionTime); transition: top var(--transitionTime), opacity var(--transitionTime); }
    .nav a,
    .nav a:visited { display: block; border-bottom: var(--border) var(--color__grey); padding-block: calc(var(--padding) * 1.25); padding-inline: var(--padding); font-size: clamp(calc(var(--fontSize) * 1.125), 4vw, calc(var(--fontSize) * 1.25)); color: var(--color__black); font-weight: 700; text-transform: uppercase; text-decoration: none; }
    .nav.active { top: calc(var(--gap) * 6); opacity: 1; -webkit-transition: top var(--transitionTime), opacity var(--transitionTime); transition: top var(--transitionTime), opacity var(--transitionTime); }
    .nav.fixed { background-color: var(--color__black)!important; }
    .nav.fixed a,
    .nav.fixed a:visited { color: var(--color__white)!important; }
    .nav,
    .nav.fixed { transition: background-color var(--transitionTime); }
}

/*?.- FOOTER -.?*/
.footer__disclaimer h2 { font-size: clamp(calc(var(--fontSize) * 1.48), 4vw, calc(var(--fontSize) * 1.68)); font-weight: 600; }
.footer__disclaimer p { font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25));  }
.footer__nav a,
.footer__nav a:visited { display: block; font-size: clamp(calc(var(--fontSize) * 1.15), 4vw, calc(var(--fontSize) * 1.25)); color: var(--color__white); text-decoration: none; }
.footer__col { max-width: calc(var(--gap) * 24); }

.searchbox__input,
.searchbox__btn { height: calc(var(--gap) * 3.5); }
.searchbox__input { max-width: calc(100% - (var(--gap) * 4)); padding-inline: calc(var(--padding) / 2); }
.searchbox__btn { max-width: calc(var(--gap) * 4); }
.searchbox__btn svg { max-width: calc(var(--gap) * 1.8); }
.searchbox__error { margin-top: var(--gap); }

.backtop,
.whatsapp { bottom: var(--padding);  width: calc(var(--gap) * 4); height: calc(var(--gap) * 4); }
.backtop { right: -100%; -webkit-transition: right var(--transitionTime); transition: right var(--transitionTime); }
.whatsapp { left: -100%; -webkit-transition: left var(--transitionTime); transition: left var(--transitionTime); }
.backtop.active { right: var(--padding); -webkit-transition: right var(--transitionTime); transition: right var(--transitionTime); }
.whatsapp.active { left: var(--padding); -webkit-transition: left var(--transitionTime); transition: left var(--transitionTime); }
.backtop svg,
.whatsapp svg { max-width: calc(var(--gap) * 2.5); }

@media(min-width: 1100px) {
    .footer__disclaimer { max-width: calc(var(--width) / 3.8); }
    .footer__menu { max-width: calc(100% - ((var(--width) / 3.8) + (var(--gap) * 2.5))); gap: calc(var(--gap) * 8); }
    .footer__menu ul { min-width: calc(var(--gap) * 8.5); }
    .footer__nav { gap: calc(var(--gap) * 6) }
}
@media(max-width: 1099.89px) {
    .footer__disclaimer { align-items: center; text-align: center; }
    .footer__menu { flex-direction: column; align-items: center; gap: calc(var(--gap) * 2.5); }
    .footer__menu a { margin-inline: auto; }
    .footer__nav { gap: calc(var(--gap) * 2.5); }
}

@media(hover:hover) {
    .btn_primary:hover,
    .btn_grey:hover,
    .btn_white:hover,
    .btn_black:hover { transition: background-color var(--transitionTime); }
    .footer__menu a,
    .footer__menu a:hover,
    .header__nav a,
    .header__nav a:hover,
    .btn_white,
    .btn_white:hover { -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    
    .footer__menu a:hover,
    .header__nav a:hover { color: var(--color__primary)!important; }
    .btn_white:hover { color: var(--color__white); }
    .btn_primary:hover,
    .btn_grey:hover,
    .btn_white:hover,
    .btn_black:hover { background-color: var(--color__grey_shade-04); }
}